<!doctype html>
<title>Opera SD Library{% block title %}{% endblock %}</title>
<script type="text/javascript" src="/static/$(project).js"></script>
<link rel="stylesheet" href="{{ url_for('static', filename='project.css')}}">
<div class=page>
    <h1>Opera SD Library Database</h1>
    <div class=sitenav>
       <a href={{ url_for('bookList') }}>Book List</a>
       <a href={{ url_for('myBooks') }}>Your Books</a>
    </div>
    <div class=loginHeader>
    {% block loginHeader %}
        {% if not session.logged_in %}
            Not logged in. <a href={{ url_for('login') }}>Log in</a> or <a href={{ url_for('passwordReset') }}>(Re)set password</a>
        {% else %}
            Logged in as {{ session["username"] }}. <a href={{ url_for('logout') }}>Log out</a>
        {% endif %}
    {% endblock %}
    </div>
    {% with messages = get_flashed_messages() %}
        {% if messages %}
            {% for message in messages %}
                <div class=flash>{{ message }}</div>
            {% endfor %}
        {% endif %}
    {% endwith %}
    <div class=header>{% block header %}<h2>Subtitle</h2>{% endblock %}</div>
    <div class=content>{% block content %}{% endblock %}</div>
</div>
