{% extends 'base.html' %}
{% block title %} - Home{% endblock %}
{% block header %}
    <h2>Home</h2>
{% endblock %}
{% block content %}
    <p>Welcome to the Opera SD library database!
    
    <h3>Getting Started</h3>
    <ol>
        <li><b><a href={{ url_for("passwordReset") }}>Create</a> your account</b> and log in. It should keep you logged in unless you reset your browser.</li>
        <li><b>Update the records:</b>  If you currently have books checked out on the paper form in the library, find them on the <a href={{ url_for("bookList")}}>Book List</a> and either check them out, or claim them if they have been reported as missing.</li>
        <li><b>Check out books:</b>
            <ul>
                <li><b>Standard check-out:</b>  If you see a book is available, look for it in the library room. If you find it, check it out from the system and enjoy!</li>
                <li><b>Report missing books:</b>  If a book was marked as available but you weren't able to find it, you can report it as missing. Once it has been found, you'll receive a notification.</li>
                <li><b>Request checked-out books:</b>  If you want a book someone else has checked out, you can send a request email to them and work it out like civilized people. An email gets sent every time, so please don't spam the Request button. :)</li>
            </ul>
        </li>
        <li><b>Check in books:</b>
            <ul>
                <li><b>Standard check-in:</b>  You can view all books you have currently checked out on the <a href={{ url_for("myBooks") }}>Your Books</a> page. If your book is here, simply check it in and place it back on the library shelves.</li>
                <li><b>Claim missing books:</b> We all forget sometimes. If your book wasn't checked out properly in the system, find it in the <a href={{ url_for("bookList")}}>Book List</a> and see if someone reported it as missing. If so, make sure to claim it first to clear the record, then check it back in as usual. If not, you can just sneak the book back in the library and no one will know. :)</li>
            </ul>
        </li>
        <li><b>Give feedback:</b> If you find any bugs or have any suggestions, please let your friendly neighborhood librarian know. If you'd like to contribute, check out <a href="https://github.com/ericdoi/LittleLibrarian">the code</a>. Thanks!</li>
    </ol>

    <h3>Future Improvements</h3>
    <ul>
        <li><b>Shelf locations:</b> Keep track of which shelf each book is kept on, using a location identifier in the database. This will make finding books a lot easier.</li>
        <li><b>Book metadata:</b> Add more book metadata like author, date acquired to the library, a link to the Amazon product page, etc..</li>
        <li><b>New books:</b> Should have a "new books" list or announcement page.</li>
    </ul>
    <p>
{% endblock %}
