{% extends 'base.html' %}
{% block title %} - Missing Books{% endblock %}
{% block header %}
    <h2>Missing Books</h2>
{% endblock %}
{% block content %}
    <p>The following books have been reported missing. If you have any of these, please indicate below to update the checkout list accordingly. Thank you!</p>
    <form action="" method="post">
        <table>
            <tr>
                <th>Title</th>
                <th>Author</th>
                <th>Reported by</th>
                <th>Action</th>
            </tr>        
            {% for book in books %}
            <tr>
                <td>{{ book["title"] }}</td>
                <td>{{ book["authorLName"] + ", " + book["authorFName"] }}</td>
                <td>{{ book["reportedMissingBy"] }}</td>
                {# Action #}
                <td><button name="claim" value={{ book["id"] }} type="submit">I have this</button></td>
            </tr>
            {% endfor %}
        </table>
    </form>
{% endblock %}
