{% extends 'base.html' %}
{% block title %} - Your Books{% endblock %}
{% block header %}
    <h2>Your Books</h2>
{% endblock %}
{% block content %}
    <form action="" method="post">
        <table>
            <tr>
                <th>Title</th>
                <th>Author</th>
                <th>Days Held</th>
                <th>Action</th>
            </tr>        
            {% for book in books %}
            <tr>
                <td>{{ book["title"] }}</td>
                <td>{{ book["authorLName"] + ", " + book["authorFName"] }}</td>
                <td>*num days*</td>
                {# Action #}
                <td><button name="return" value={{ book["id"] }} type="submit">Return</button></td>
            </tr>
            {% endfor %}
        </table>
    </form>
{% endblock %}
