{% extends 'base.html' %}
{% block title %} - Your Books{% endblock %}
{% block header %}
    <h2>Your Books</h2>
{% endblock %}
{% block content %}
    <form action="" method="post">
        <table>
            <tr>
                <th class="title">Title</th>
                <th>Author</th>
                <th>Days Held</th>
                <th>Action</th>
            </tr>        
            {% for (book, authorStr) in books %}
            <tr>
                <td class="title">{{ book["title"] }}</td>
                <td>{{ authorStr }}</td>
                <td>{{ book["numDays"]|int }}</td>
                {# Action #}
                <td><button name="return" value={{ book["id"] }} type="submit">Return</button></td>
            </tr>
            {% endfor %}
        </table>
    </form>
{% endblock %}
